Repository algotradeX/atx-data-processor, changes with the labels that .github/labeler.yml gives for each.
All labels: :label: test :checkered_flag:, :label: github-action :octocat:, :label: requirements-update :christmas_tree:, :label: documentation :scroll:

.github/labeler.yml:

# Add 'test' label
":label: test :checkered_flag:":
  - test/**/*

# Add github actions related updates to .github
":label: github-action :octocat:":
  - .github/**/*

# requirements.txt update
":label: requirements-update :christmas_tree:":
  - requirements.txt

":label: documentation :scroll:":
  - README.md

Update README.md
  README.md
Labels: :label: documentation :scroll:

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: :label: github-action :octocat:

Add dynaconf, skeleton for Flask, health and sitemap api
  .env
  .gitignore
  atx-data-processor.postman_collection.json
  atx_data_processor_master.py
  requirements.txt
  settings.json
  src/app.py
  src/common/__init__.py
  src/common/singleton.py
  src/constants/__init__.py
  src/core/__init__.py
  src/core/namespace.py
  src/db/__init__.py
  src/routes/__init__.py
  src/routes/health/__init__.py
  src/server.py
  src/task/__init__.py
  src/util/__init__.py
Labels: :label: requirements-update :christmas_tree:

Add black and flake8 for linting and formatting, git pre commit hooks
  .flake8
  .pre-commit-config.yaml
  README.md
  atx_data_processor_master.py
  pyproject.toml
  requirements.txt
  src/app.py
  src/common/singleton.py
  src/routes/health/__init__.py
  src/server.py
  src/util/__init__.py
  test/test_master.py
Labels: :label: test :checkered_flag:, :label: requirements-update :christmas_tree:, :label: documentation :scroll:

Logger injection and line profiler
  .gitignore
  README.md
  requirements.txt
  settings.json
  src/common/__init__.py
  src/common/logger.py
  src/common/pProfiler.py
  src/core/namespace.py
  src/routes/health/__init__.py
  src/server.py
Labels: :label: requirements-update :christmas_tree:, :label: documentation :scroll:

Update README.md
  README.md
Labels: :label: documentation :scroll:

Update README.md
  README.md
Labels: :label: documentation :scroll:

Update README.md
  README.md
Labels: :label: documentation :scroll:

Add postgres engine and ping
  .gitignore
  requirements.txt
  settings.json
  src/db/__init__.py
  src/db/postgres.py
  src/routes/health/__init__.py
  src/routes/health/service.py
  src/server.py
Labels: :label: requirements-update :christmas_tree:

Add flask profiler
  console.sql
  requirements.txt
  settings.json
  src/common/__init__.py
  src/common/flaskProfiler.py
  src/db/postgres.py
  src/server.py
Labels: :label: requirements-update :christmas_tree:

NecSchema and error config
  src/exception/__init__.py
  src/model/__init__.py
  src/repository/__init__.py
  src/routes/__init__.py
  src/routes/nec/__init__.py
  src/routes/nec/schema.py
  src/services/__init__.py
  src/services/nec_service.py
Labels: none

Add schema parsing and validation
  src/exception/__init__.py
  src/routes/nec/__init__.py
  src/util/__init__.py
Labels: none

Rename nec to nsc
  atx-data-processor.postman_collection.json
  src/routes/__init__.py
  src/routes/nec/__init__.py
  src/routes/nsc/__init__.py
  src/routes/nsc/schema.py
Labels: none

Create nse service and repo
  console.sql
  src/db/postgres.py
  src/model/nsc_model.py
  src/repository/nsc_repository.py
  src/routes/health/service.py
  src/routes/nsc/__init__.py
  src/server.py
  src/services/nec_service.py
  src/services/nsc_service.py
Labels: none

Use sessions everywhere for db connection
  src/db/postgres.py
  src/exception/__init__.py
  src/routes/health/service.py
Labels: none

Fix error handling for psycopg2 errors
  src/exception/__init__.py
Labels: none

Rename NSC as NSE
  atx-data-processor.postman_collection.json
  console.sql
  src/model/nse_model.py
  src/repository/nse_repository.py
  src/routes/__init__.py
  src/routes/nsc/__init__.py
  src/routes/nse/__init__.py
  src/routes/nse/schema.py
  src/services/nsc_service.py
  src/services/nse_service.py
Labels: none

New apis for upsert, delete, csv parsing of NSE data; logging at service and repo level; restructure NSE model
  atx-data-processor.postman_collection.json
  console.sql
  requirements.txt
  src/exception/__init__.py
  src/model/nse_model.py
  src/repository/nse_repository.py
  src/repository/repository_response.py
  src/routes/nse/__init__.py
  src/routes/nse/schema.py
  src/routes/nse/transformer.py
  src/services/nse_service.py
Labels: :label: requirements-update :christmas_tree:

Codeclimate fixes
  src/exception/__init__.py
  src/repository/nse_repository.py
  src/repository/repository_response.py
  src/routes/nse/schema.py
Labels: none

Add redis connector and ping redis
  settings.json
  src/db/__init__.py
  src/db/redis.py
  src/repository/nse_repository.py
  src/routes/health/__init__.py
  src/routes/health/service.py
  src/server.py
Labels: none

Redis connector, Redis Job Queues and rq-dashboard integration, Mongo connector, ping mongo and workers
  atx-data-processor.postman_collection.json
  atx_data_processor_workers.py
  requirements.txt
  settings.json
  src/constants/__init__.py
  src/db/__init__.py
  src/db/mongo.py
  src/db/redis.py
  src/db/redis_job_queues.py
  src/model/job_model.py
  src/repository/job_repository.py
  src/routes/__init__.py
  src/routes/health/__init__.py
  src/routes/health/service.py
  src/routes/job/__init__.py
  src/routes/job/service.py
  src/server.py
  src/util/__init__.py
  src/util/job.py
Labels: :label: requirements-update :christmas_tree:

Unit test for util init file, add coverage
  .gitignore
  requirements.txt
  src/__init__.py
  src/routes/nse/schema.py
  src/util/__init__.py
  test/__init__.py
  test/src/__init__.py
  test/src/util/__init__.py
  test/src/util/test_util_init.py
Labels: :label: test :checkered_flag:, :label: requirements-update :christmas_tree:

Update coverage
  .gitignore
  test/src/util/test_util_init.py
Labels: :label: test :checkered_flag:

Update action for coverage reporting
  .github/workflows/pythonpackage.yml
Labels: :label: github-action :octocat:

Update coverage via git actions
  .github/workflows/pythonpackage.yml
  .gitignore
Labels: :label: github-action :octocat:

Update job service, repo, model structure
  src/model/job_model.py
  src/repository/job_repository.py
  src/routes/health/service.py
  src/routes/job/__init__.py
  src/services/job_service.py
  src/util/__init__.py
  src/util/sequence.py
Labels: none

Add workQueue to parse csv; update postman collection
  atx-data-processor.postman_collection.json
  src/repository/job_repository.py
  src/routes/health/service.py
  src/routes/nse/schema.py
  src/services/job_service.py
  src/services/nse_service.py
Labels: none

Fix for multithreading with postgres engine
  atx_data_processor_workers.py
  src/routes/nse/__init__.py
  src/server.py
  src/services/nse_service.py
Labels: none

CSV parsing with multiple symbols
  console.sql
  src/repository/nse_repository.py
  src/routes/nse/schema.py
  src/services/nse_service.py
Labels: none

New data process api; adding indicators
  atx-data-processor.postman_collection.json
  src/lib/__init__.py
  src/lib/technical_indicators.py
  src/model/nse_processed_model.py
  src/repository/nse_repository.py
  src/routes/nse/__init__.py
  src/routes/nse/schema.py
  src/services/nse_service.py
Labels: none

Save processed data in db
  console.sql
  src/model/nse_processed_model.py
  src/repository/nse_repository.py
  src/services/nse_service.py
Labels: none

Save dataframe in database, replace if exists
  console.sql
  src/db/mongo.py
  src/lib/technical_indicators.py
  src/repository/nse_repository.py
  src/services/nse_service.py
Labels: none

Add momentum indicators: rsi and macd
  src/constants/__init__.py
  src/lib/technical_indicators.py
  src/services/nse_service.py
Labels: none

Update README.md
  README.md
Labels: :label: documentation :scroll:

Update README.md
  README.md
Labels: :label: documentation :scroll:

Update README.md
  README.md
Labels: :label: documentation :scroll:

Update README.md
  README.md
Labels: :label: documentation :scroll:

Update README.md
  README.md
Labels: :label: documentation :scroll:

Add api for dashboard data
  atx-data-processor.postman_collection.json
  src/common/alchemyEncoder.py
  src/model/nse_model.py
  src/repository/nse_repository.py
  src/routes/__init__.py
  src/routes/dashboard/__init__.py
  src/routes/dashboard/schema.py
  src/services/dashboard_service.py
  src/services/nse_service.py
Labels: none

Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Labels: none
